@media screen and (max-width: 1024px) {
  .swiper {
    width: 90%; /* 슬라이더 컨테이너의 크기 조정 */
    margin: 0 auto; /* 가운데 정렬 */
  }

  .swiper-slide {
    width: 100%; /* 슬라이드 하나만 보이도록 설정 */
    border-radius: 20px;
    overflow: hidden;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 1025px) {
  .swiper {
    width: 90%; /* 슬라이더 컨테이너의 크기 조정 */
    margin: 0 auto; /* 가운데 정렬 */
  }

  .swiper-slide {
    width: calc(33.33% - 20px); /* 3개의 슬라이드가 화면에 보이도록 고정 */
    border-radius: 20px;
    overflow: hidden;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지를 슬라이드 크기에 맞게 조정 */
  }
}
